body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f9fafc;
  color: #333;
  margin: auto;
}

header {
  background-color: #1976d2;
  padding: 10px 0;
}
h1{
  color: white;
  text-align: center;
  padding: 20px 0;
}
#area-descarga {
  background: #e3f2fd;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#enlace-descarga {
  display: inline-block;
  background: #1976d2;
  color: #fff;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 10px;
}

#enlace-descarga:hover {
  background: #1565c0;
}

#comentarios-section {
  margin-top: 40px;
  max-width: 800px;
  margin: auto;

}

#comentarios {
  border: 1px solid #1976d2;
  border-radius: 6px;
  background: #fff;
  padding: 15px;
  min-height: 120px;
  max-width: 100%;
}

.comentario {
  border-bottom: 1px dotted #ddd;
  padding: 8px 0;
}
h2{
  text-align: center;
  color: #1976d2;
}
textarea {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #1976d2;
}

.btn {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #0056b3;
}

.btn-secondary {
  background: #003772;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-secondary:hover {
  background: #004494;
}
